@model TimeToWork.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<h1>Редагувати</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppointmentId" />
            @*<div class="form-group">
                Послуга
                <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                Клієнт
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Service" class="control-label"></label>
                @*<select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId">
                <option value="">-- Select Service --</option>
                </select>*@

                <select id="lstServiceId" asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId" onchange="FillServiceProvider(this, 'lstServiceProvider');"></select>
                <span asp-validation-for="ServiceId" class="text-danger" />
            </div>

            <div class="form-group">
                <label asp-for="ServiceProvider" class="control-label"></label>

                <select id="lstServiceProvider" asp-for="ServiceProviderID" class="form-control" asp-items="ViewBag.ServiceProviderID"></select>
                <span asp-validation-for="ServiceProviderID" class="text-danger" />
            </div>
            <div class="form-group">
                Дата
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    function FillServiceProvider(lstServiceCtrl, lstServiceProviderId) {
        var lstServiceProvider = $("#" + lstServiceProviderId);
        lstServiceProvider.empty();

        //lstServiceProvider.append($('<option/>',{
        //	value: null,
        //	text: "Обрати виконавця"
        //}));

        var selectedService = lstServiceCtrl.options[lstServiceCtrl.selectedIndex].value;

        if (selectedService != null && selectedService != '') {
            $.getJSON('@Url.Action("GetServiceProviderByService")', { serviceId: selectedService }, function (serviceProviders) {
                if (serviceProviders != null && !jQuery.isEmptyObject(serviceProviders)) {
                    $.each(serviceProviders, function (index, serviceProvider) {
                        lstServiceProvider.append($('<option/>', {
                            value: serviceProvider.value,
                            text: serviceProvider.text
                        }));
                    });
                };
            });
        };
    }

</script>
